<h4>
  Best <%= label %>
</h4>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th></th>
      <th>average</th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= item.average_rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>